.main {
    background-color: #ddd;
}

.sticky {
    position: fixed;
    top:0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font: 45px 'Lobster' ,cursive;
    color: #555;
}

#front-images {
    /*height: 586px;*/
}

#reservation-popup{
    background-color: #69E000;
    color: #fff;
}
#reservation-popup .col.mr-auto {
    font: 30px 'Lobster' ,cursive;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    object-fit: cover;
    height: 700px;
}

.fa-footer-icons i {
    background-color: #777;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.ez-primary {
    background-color: #69E000;
}

.ezd-seperator{
    text-align: center;
    margin: 30px 0px;
}

.img-ezd{
    width: 35px;
    height: 35px;
    background-size:35px;
    background-image: url("/public/images/logo.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.ezd-left,
.ezd-right{
    width:40%;
    height:1px;
    border-bottom: solid 1px white;
    margin: 0px 20px;
    display: inline-block;
    vertical-align: text-top;
}

.fa-stack {
    border: 2px solid;
    border-radius: 45px;
}

@media only screen and (max-width: 592px) {
    .ezd-seperator{
        margin: 20px 0px;
    }

    .img-ezd{
        width: 30px;
        height: 30px;
        background-size:30px;
    }

    .ezd-left,
    .ezd-right{
        width:30%;
        height:1px;
        border-bottom: solid 1px white;
        margin: 0px 15px;
        display: inline-block;
        vertical-align: text-top;
    }
}