/* BEGIN font size */

@for $i from 10 through 45 {
	.fs-#{$i} {
		font-size: $i+px;
	}
}

/* END font size */

/* BEGIN font family*/
.lobster {
	font-family: 'Lobster';
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.century-gothic {
	font-family: 'Century Gothic', sans-serif;
}
/* END font family*/

/* BEGIN colours */
$colors: "000", "111", "222", "333", "444", "555", "666", "777", "888", "999", "aaa", "bbb", "ccc", "ddd", "eee", "fff";
@each $color in $colors {
	.c-#{$color} {
		color: unquote("#" + $color);
	}
}
@each $color in $colors {
	.bc-#{$color} {
		background-color: unquote("#" + $color);
	}
}
/* END colours */

/* BTN colors */
/* btn-main */
.btn-main {
	color: #FFFFFF;
	background-color: #69E000;
	border-color: #FFFFFF;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
	color: #FFFFFF;
	background-color: #56B800;
	border-color: #FFFFFF;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
	background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
	background-color: #69E000;
	border-color: #FFFFFF;
}

.btn-main .badge {
	color: #69E000;
	background-color: #FFFFFF;
}
/* btn-main */

/* btn-sec */
.btn-sec {
	color: #69E000;
	background-color: initial;
	border-color: #69E000;
}

.btn-sec:hover,
.btn-sec:focus,
.btn-sec:active,
.btn-sec.active,
.open .dropdown-toggle.btn-sec {
	color: #56B800;
	border-color: #56B800;
}

.btn-sec:active,
.btn-sec.active,
.open .dropdown-toggle.btn-sec {
	background-image: none;
}

.btn-sec.disabled,
.btn-sec[disabled],
fieldset[disabled] .btn-sec,
.btn-sec.disabled:hover,
.btn-sec[disabled]:hover,
fieldset[disabled] .btn-sec:hover,
.btn-sec.disabled:focus,
.btn-sec[disabled]:focus,
fieldset[disabled] .btn-sec:focus,
.btn-sec.disabled:active,
.btn-sec[disabled]:active,
fieldset[disabled] .btn-sec:active,
.btn-sec.disabled.active,
.btn-sec[disabled].active,
fieldset[disabled] .btn-sec.active {
	background-color: initial;
	border-color: #69E000;
}

.btn-sec .badge {
	color: #FFFFFF;
	background-color: #69E000;
}
/* btn-sec */
/* BTN colors */